    <!doctype html>
    <html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <title>Titulo</title>

        <link rel="stylesheet" type="text/css" href="/css/indexCSS.css">

      </head>
      <body>

        
        </div>

     <div class="container">
        <form action="/change-password" method="POST">
            <div>
                <a>Ingrese nueva contraseña:</a>
            </div>
             <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
            <div>
                <input type="password" name="clave1" placeholder="Contraseña" required>
            </div>
            <div>
                <input type="password" name="clave2" placeholder="Confirme contraseña" required>
            </div>
            <div>
                <input type="hidden" name="token" th:value="${token}">
            </div>
            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>

        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
      </body>
    </html>