 <!doctype html>
 <html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Hojas de estilo  -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/animate.min.css" rel="stylesheet"> 
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/lightbox.css" rel="stylesheet">
  <link href="/css/buzon.css" rel="stylesheet">
  <link id="css-preset" href="/css/presets/preset1.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
  <link href="/css/indexCSS.css" rel="stylesheet">
  <link href="/css/estilos.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/estilos.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="shortcut icon" href="/images/meetlogo.png" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  
  <title>Olvide mi contraseña</title>
</head>
<body margin-top="100px" id="contacto-ex" class="parallax">
  <header>
    <nav class="navbar navbarcolor navbar-expand-md navbar-dark">
      <a class="navbar-brand  ml-3" href="#">
        <img src="/images/Logo-Meetdia.png" width="45" height="45" class="d-inline-block align-top" alt="meetdia.com">  
      </a>

      <a class="navbar-brand letra pt-4"  href="#">
        Meetdia.com
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto col-4">
          <li class="nav-item active">
            </li>           
          </ul>
        </div>
      </nav>
    </header>
    <section class="cont">
      <div margin-top="margen">
        <div class="formulario">
          <form id="main-contact-form" action="/forgot" name="contact-form" method="GET">
           <div class="form-group">
            <p class="parrafo">Ingrese su mail para enviar un enlace de recuperacion:</p>
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="E-mail" required="required">
          </div>
          <div class="form-group">
            <button type="submit" class="botones">Enviar</button>
          </div>                 
        </form>   
      </div>
    </div>       
  </section>
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="/"><img class="img-responsive" src="/images/Logo-Meetdia.png" height="40px" alt="Logo"></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class='far fa-star'></i></a></li>
            <li><a class="twitter" href="#"><i class='far fa-star'></i></a></li> 
            <li><a class="dribbble" href="#"><i class='far fa-star'></i></a></li>
            <li><a class="facebook" href="#"><i class='far fa-star'></i></a></li>
            <li><a class="linkedin" href="#"><i class='far fa-star'></i></a></li>
            <li><a class="tumblr" href="#"><i class='far fa-star'></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
