    <!doctype html>
    <html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="shortcut icon" href="images/meetlogo.png">

        <title>Meetdia.com</title>



        <link rel="stylesheet" type="text/css" href="css/indexCSS.css">

    </head>
    <body>
    <div class="container-fluid" style="background-color: #9ACD32;">
        <div class="container">
        <nav class="navbar navbarcolor navbar-expand-md navbar-dark">
            <a class="navbar-brand  ml-3" href="#">

                <img src="images/Logo-Meetdia.png" width="45" height="45" class="d-inline-block align-top" alt="meetdia.com">
                
            </a>

            <a class="navbar-brand letra pt-4"  href="#">
                Meetdia.com
            </a>

            <button class="navbar-toggler" style="border-color: white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="images/navbar2.svg" width="45" height="45" class="d-inline-block align-top" alt="meetdia.com">
            </button>

            <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto col-4">
                <li class="nav-item active">

                    <button class="btn bttcolor btn-sm my-1" type="submit">
                        <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle letra2 text-white active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Publicar
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Ofrecer Trabajo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Buscar Trabajo</a>
                    </div>
                    </button>

                </li>
                
                </ul>

            </div>
        </nav>
    </div>
    </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
    </html>