<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">

        <title>Post - Meetdia</title>
    
    <!-- Estilos Meetdia CSS -->
        <link rel="stylesheet" type="text/css" href="css/indexCSS.css">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="images/meetlogo.png">

    <style>
    .margen-avatar{
        margin-top:-50px;
    }
    </style>
  </head>
  <body>

  <!-- Navbar -->
  <header>
    <div class="container-fluid" style="background-color: #9ACD32;">
        <div class="container">
      <nav class="navbar navbarcolor navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="images/Logo-Meetdia.png" width="45" height="45" class="d-inline-block align-top" alt="meetdia.com">  
        </a>

        <a class="navbar-brand letra pt-4"  href="#">
            Meetia.com
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto col-4">
            <li class="nav-item active">

                <button class="btn bttcolor btn-xs my-1" type="submit">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  letra2 text-white active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Publicar
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Ofrecer Trabajo</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Buscar Trabajo</a>
                        </div>
                    </li>
                        </button>
            </li>
            
            </ul>
            <a href="">
                <i class='far fa-comments' style="font-size:25px;color:white;text-shadow:2px 2px 4px #000000;"></i>
            </a>
        </div>
    </nav><!-- Navbar -->
    </div>
    </div>

  </header>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <!-- SobreMi -->
                <div class="container py-5">
                    <div class="card">
                        <img class="card-img-top" src="img/iceland.jpg" alt="Card image cap">
                        <div class="text-center margen-avatar">
                            <img src="img/avatar-dhg.png" alt="" class="rounded-circle border" width="100px">
                        </div>
                        <div class="card-body text-center">
                        <h6 class="card-title font-weight-bold">Card title</h6>
                        <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div><!-- SobreMi -->
                <div class="container pb-5">
                    <!-- Comentarios -->
                    <div class="card">
                        <div class="card-header">
                            Quote
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                        </div>
                    </div><!-- Comentarios -->
                </div>
            </div>
            <div class="col-md-8 col-lg-9">
                <!-- Artículos -->
                <div class="py-5">
                    <div class="card mr-lg-3">
                        <ul class="list-group list-group-flush">
                            <!-- Artículo -->
                            <li class="list-group-item">
                                <div class="row py-3">
                                    <!-- Avatar -->
                                    <div class="col-3 col-sm-2 col-lg-1">
                                        <img src="img/avatar-dhg.png" alt="" class="rounded-circle border" width="60px">
                                    </div><!-- Avatar -->
                                    <article class="col-9 col-sm-10 col-lg-11">
                                        <p class="card-text float-right"><small class="text-muted">3 mins ago</small></p>
                                        <h6 class="font-weight-bold">Lorem, ipsum dolor.</h6>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos molestiae officia exercitationem, perferendis quam ipsam veritatis minima ducimus. Earum enim quam fugit, possimus autem eveniet. Inventore sed itaque corrupti velit vel dolorem. Suscipit quam molestiae minus odit quibusdam. Possimus, repellendus alias voluptatibus nostrum accusantium aspernatur odio id magni libero repellat.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas facere quisquam iure veritatis commodi repudiandae, eum sed sint tempora ad dolore ducimus sit quia vero iste nulla, praesentium sunt fugit quidem earum. Odit soluta amet suscipit hic ratione pariatur libero nemo. Facere nesciunt quae, at aut quia incidunt natus deserunt!</p>
                                        <img src="img/iceland.jpg" alt="" class="img-fluid rounded mb-3">
                                        <div class="text-center">
                                        <input class="inputstyle " type="text" name="Ingrese Texto">
                                        </div>
                                        </br>
                                        <div class="text-center">
                                        <button class="btn bttcolorenviar btn-sm" type="submit">Enviar</button>
                                        </div>

                                    </article>
                                </div>
                            </li><!-- Artículo -->
                        </ul>
                    </div>
                </div><!-- Artículos -->
            </div>
        </div>
    </div>
    <footer class="bg-dark py-3 text-white container-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia, culpa veritatis nihil atque natus, explicabo corrupti sed eius quidem velit laudantium provident accusantium distinctio impedit facere eos, consequatur sint.</p>
    </footer>
    
    
    
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>